@model Form114.Models.ProduitViewModel
@using Form114.Infrastructure
@{
    var s = "place";
    if (@Model.NbPlaces > 1)
    {
        s += 's';
    }
}
<div class="img1">
    @*<li><img src="/Images/@Model.ListPhotos.FirstOrDefault()" alt="Pas d'image" /></li>*@
    @Html.MyCarousel(Model.ListPhotos, Model.IdProduit,"cadre1","MonImage")
    <p>ID : @Model.IdProduit</p>
    <p>@Model.NbPlaces @s</p>
    <p>@Model.Adresse</p>
    <p>@Html.ActionLink("Détails", "Details", new { controller = "Produit", id = Model.IdProduit })</p>
</div>