@model Form114.Models.ProduitViewModel
@using Form114.Infrastructure
@{
    var s = "place";
    if (@Model.NbPlaces > 1)
    {
        s += 's';
    }
}

@section styles{
    <link href="~/Content/BootFlat/bootflat.css" rel="stylesheet" />
}

<div class="details">
    <div class="details1">
        <div class="thumbnail details1">

            @Html.MyCarousel(Model.ListPhotos, Model.IdProduit, "cadre1", "MonImage")
            <div class="caption text-center">
                <p>@Model.Adresse...A Completer</p>
                <input type="hidden" class="idProduit" value="@Model.IdProduit" />
                @*<p>ID : <div class="idProduit">@Model.IdProduit</div></p>*@

            </div>
        </div>
    </div>
</div>