@model DataLayer.Models.Produits
@using Form114.Infrastructure

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@section scripts{
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/Search/Datepicker.js"></script>

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
}
  
@{
    var s = "place";
    if (Model.NbPlaces > 1)
    {
        s += 's';
    }
}

<div class="img">
    <img src="~/Images/@Model.Photos.FirstOrDefault().Path" alt="Pas de photo" />
</div>
<p>ID : @Model.IdProduit</p>
<p>@Model.NbPlaces @s</p>
<p>@Model.Adresse</p>
<p>@Model.Prix.FirstOrDefault().Montant € la nuit</p>
@using (Html.BeginForm("Reserver", "Reservation", FormMethod.Post))
{
    <input type="hidden" name="Prix" id="Prix" value="@Model.Prix.FirstOrDefault().Montant"/>
    @Html.DatePicker("Réserver")
}