@model List<DataLayer.Models.Produits>
@using Form114.Infrastructure
@{
    ViewBag.Title = "Result";
}

<h2>Resultats de votre recherche</h2>

<table class="table table-hover table-striped table-bordered table-responsive">
    <thead>
        <tr>
            <th>Ville</th>
            <th>nombre de chambre</th>
            <th>adresse</th>
            <th>Prix</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @{var i = item.Prix.Count() != 0 ? item.Prix.First().Montant : 0;}
            <tr>
                <td>@item.Villes.name</td>
                <td>@item.NbPlaces</td>
                <td>@item.Adresse</td>
                <td>@i</td>
                <td>@Html.ActionLink("Détails","Details",new { controller = "Produit", id = item.IdProduit })</td>
            </tr>
        }
    </tbody>

</table>