@model List<DataLayer.Models.Produits>

@{
    ViewBag.Title = "Welcome to Air R'n'B";
}

<div class="img">
    <img src="~/Images/Index-big.jpg" />
</div>

<fieldset>
    <legend>Produits Phares</legend>
</fieldset>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">@Html.Action("Miniature", "Produit", new { id = item.IdProduit })</div>
    }
</div>

@*<div class="row">
    @foreach (var item in (List<DataLayer.Models.Regions>)ViewBag.listRegions)
    {
        var s = "/Images/" + @item.name + ".jpg";
        <div class="panel panel-info col-lg-6">
            <div class="panel-heading">
                <strong>Voyagez en @Html.ActionLink("" + item.name, "Index", new { id = item.name }) </strong>
            </div>
            <div class="panel-body">
                <img src="@s" height="180" width="280"/>
            </div>
        </div>

    }
</div>*@

<div class="row">
    @foreach (var item in (List<DataLayer.Models.Regions>)ViewBag.listRegions)
    {
        @Html.Action("Catalog", "Home", new { id = item.idRegion})
    }
</div>